mixin moduleInput(inputLabel, inputPlaceHolder, inputId)
    .default-input
        label(for=inputId) #{inputLabel} 
        input(
            id=inputId
            placeHolder=inputPlaceHolder
        )

mixin modulePasswordInput(inputLabel, inputPlaceHolder, inputId)
    .default-input
        label(for=inputId) #{inputLabel} 
        input(
            id=inputId
            placeHolder=inputPlaceHolder
        )
